.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    cursor: pointer;
}

@keyframes Anima {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.10);
    }
}

button:hover {
    animation-name: Anima;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.titulo {
    margin-left: 8px;
}


@media screen and (max-width: 673px) {

    footer {
        border-top: 1px solid #333;
        bottom: 0;
        left: 0;
        height: 40px;
        position: fixed;
        width: 100%;
    }

    #imagemcarrinho {
        max-width: 200px;
        max-height: 150px;
        width: auto;
        height: auto;
    }

    main div {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

@media screen and (max-height: 550px) {

    main div {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 50px;
    }

}