ul.modelcars {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

ul.modelcars li {
    display: inline-block;
    text-align: left;
    width: 300px;
    vertical-align: top;
}

img.photocar {
    display: block;
    width: 250px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #1b357e;
}

.infocar div {
    display: inline-block;
}

.info {
    width: 200px;
    vertical-align: top;
}

.textmodel {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #1351d8;

}

.textprice {
    display: block;
    text-align: left;
    font-size: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

td:nth-child(1) {
    font-weight: 700;
    width: 40%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

div#compare {
    position: absolute;
    display: none;
    width: 50vw;
    max-width: 800px;
    min-width: 400px;
    height: 87vh;
    max-height: 700px;
    min-height: 350px;
    background: #fff;
    top: calc(100vh - 80%);
    left: 25vw;
    border-radius: 30px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
}


@media screen and (max-width: 673px) {

    footer {
        border-top: 1px solid #333;
        bottom: 0;
        left: 0;
        height: 40px;
        position: fixed;
        width: 100%;
    }

    img.photocar {
        width: 200px auto;
        height: auto;
    }

    #buttonn {
        margin-bottom: 30%;
    }

    ul.modelcars {
        display: block;
        text-align: center;
        align-items: center;
        margin-left: 15%;
    }

    div#compare {
        left: 1vw;
        height: 106vh;
        border-radius: 30px;
        max-width: none;
        min-width: none;
        max-height: none;
        min-height: none;
    }

}


@media (max-width: 1024px) {
    div#compare {
        height: 106vh;
    }
}

@media screen and (min-width: 1400px) {

    div#compare {
        left: 28%;
        height: 60vh;
    }
}

@media screen and (max-height: 550px) {

    #buttonn {
        margin-bottom: 30%;
    }

}